:root {
    --maincolor: red;
    --mainLinkColor: #2483ff;
    --bordercl: rgb(0, 38, 255);
    --callouctcolor: dodgerblue;
    --hovercolor: navy;
    --darkMaincolor: #50fa7b;
}

a {
    border-bottom: 1px solid var(--mainLinkColor);
}

footer {
    border-top: none;
}

.tags a {
    border-bottom: 1px solid var(--mainLinkColor);
}

ul > li::before {
    content: '- ';
    font-weight: normal;
}

ul > li {
    margin: auto auto 0.3em;
}

hr {
    border: 0;
    border-top: 1px solid var(--bordercl);
    margin: 1em 0;
}
